:root {
    --primary-blue: #1a23ff;
    --primary-yellow: #ffe600;
    --text-dark: #0F172A;
    --text-light: #64748B;
    --white: #FFFFFF;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    min-height: 200vh;
}

.education-section {
    padding: 60px 15%;
    background: url('../../assets/square-of-dots.svg');
}

.education-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--primary-yellow);
    letter-spacing: 1px;
}

.para {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    margin-bottom: 40px;
}

.education-item {
    margin-bottom: 35px;
}

.education-institution {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-light);
}

.education-institution span {
    color: var(--text-light);
    font-weight: 600;
}

.education-degree {
    color: var(--primary-blue);
    font-size: 1rem;
    margin-top: 6px;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
    .education-section {
        padding: 40px 8%;
    }

    .education-title {
        font-size: 2.2rem;
    }
}

.education-item {
  opacity: 0;
  transform: translateY(20px);
}

[data-aos] {
  opacity: 1 !important;
  transform: translateY(0) !important;
}